@import url('https://fonts.googleapis.com/css2?family=Germania+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Serif:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
*{
  box-sizing: border-box;
  /* font-family: Poppins; */
  /* font-family: 'IBM Plex Serif', serif */
}

:root{
  --primary: crimson; 
  --primary-hover: rgb(153, 21, 47);
  --secondary: #1C2526;
  /* --group-color: rgba(2, 138, 6, 0.63); */
  --germanic-font: Germania One;
}

body{
  padding-inline: 10vw;
  margin:0;
  background-color: #666;
  background-blend-mode: multiply;
  padding-block:2vw;
  background-image: url(./assets/background.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
}

button {
  transition: 200ms all;
}

.app{
  background-color: rgb(255, 255, 255, 0.4);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  padding:20px;
  min-height:70vh;
  position: relative;
  border: 1px solid rgba(255,255,255,0.2);
  -webkit-backdrop-filter: blur(30px) saturate(125%);
  border-radius: 10px;
}

@supports (backdrop-filter: blur(30px)){
  .app{
    backdrop-filter: blur(30px) saturate(125%);
  }
  /* body {
    background-color: rgb(177, 177, 177);
  } */
}

h1,h2,h3,h4,h5{
  margin:0;
}

.header{
  /* background: red; */
  border-bottom: 1px solid gray;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header > nav > ul {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap:1rem;
  list-style:none;
}

.header > nav > ul > li > a, .header > nav > ul > li > button{
  display:flex;
  align-items: center;
  gap:5px;
  text-decoration: none;
  background: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  font-family: serif;
  font-size: 16px;
  color: black;
}

.header > nav > ul > li > a:hover, .header > nav > ul > li > button:hover{
  text-decoration: underline;
}

.header > .logo > a {
  font-family: 'IBM Plex Serif', serif;
  color: var(--primary);
  text-decoration: none;
  text-shadow:0 0 5px white; 
}

.form-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height:70vh;
  gap: 2rem;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.466);
  box-shadow: 0 10px 10px 10px rgba(0, 0, 0, 0.3);
  padding-block:20px;
  position: relative;
}

.form-container::after {
  content: "";
  background-image: url(./assets/wave.svg);
  position: absolute;
  inset: 0;
  background-size: cover;
  background-repeat: no-repeat;
  z-index: -1;
}

.form-container > h1 {
  font-family: var(--germanic-font);
  font-size: 3em;
}

.form-container > form{
  display: flex;
  gap:1rem;
  flex-direction: column;
  width: max(40%, 300px);
}

.form-container > form > .form-group {
  display: flex;
  flex-direction: column;
  width:100%;
  gap:5px;
}

.form-group.inline{
  flex-direction: row !important;
  align-items: center;
  justify-content: space-between;
}

.form-container > form > .form-group > input{
  width: 100%;
  outline:none;
  border:none;
  padding:15px;
  background-color: rgb(228, 228, 228);
}

.form-container > form > .form-group > label{
  font-size: .9rem;
  color: black;
  font-family: sans-serif;
}

.form-container > form > button[type='submit']{
  padding:10px;
  margin-top: 5px;
  background: var(--primary);
  color: white;
  /* text-transform: uppercase; */
  border: 1px solid var(--primary);
  font-family: Poppins;
  cursor: pointer;
  transition: 200ms all;
}

.form-container > form > button[type='submit']:hover{
  background-color: var(--primary-hover);
  border-color: var(--primary-hover);
}

.form-container > form > p{
  font-family: poppins;
  color: rgb(65, 65, 65);
  font-size:.8rem;
  margin:0;
  text-align: center;
}

.form-container > form > p > a{
  color: var(--primary);
  text-decoration: none;
}

.form-container > form > p > a:hover {
  text-decoration: underline;
}

.spinner-container{
  position: absolute;
  inset:0;
  background: rgba(0, 0, 0, 0.5);
  display: grid;
  place-items: center;
  z-index: 999;
}

.spinner{
  height: 50px;
  width: 50px;
  border: 2px solid gray;
  border-radius: 50%;
  border-top-color: var(--primary);
  animation: spinner 0.7s linear infinite;
}

.groups-container {
  /* background-color: red; */
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1rem;
  justify-content: center;
}

.group{
  background: #eee;
  display: flex;
  flex-direction: column;
  padding: 10px;
  user-select: none;
  gap:1rem;
  cursor: pointer;
  transition: all 300ms;
  max-width: 80vw;
  position: relative;
}

.group > h3 {
  text-align: center;
  text-transform: uppercase;
  font-family: 'Poppins', sans-serif;
  word-wrap: break-word;
} 

.group > .info {
  display: flex;
  flex-direction: column;
  font-family: 'roboto mono', monospace;
  font-size: .9rem;
}

.group::before {
  content: "";
  box-shadow: -10px 10px var(--primary);
  position: absolute;
  inset: 0;
  opacity: 0;
  transition: 200ms all;
}

.group:hover{
  background-color: white;
  transform: translate(2px, -2px);
}

.group:hover::before {
  transform: translate(-2px, 2px);
  opacity: 1;
}

.group:hover > h3 {
  color: var(--primary);
}

.addGroup {
  position: absolute;
  right: 0;
  transform: translate(-10px, 10px)
}

.addGroup > button {
  border-radius:50%;
  font-size: 1.1rem;
  cursor: pointer;
  border: none;
  background-color:rgb(201, 81, 81);
  outline: none;
  aspect-ratio: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

@keyframes spinner{
  to{
    transform: rotate(360deg);
  }
}

@media (max-width: 500px) {
  body{
   margin:0;
   padding:0;
  }
  .app {
    min-height: 100vh;
    border-radius:0;
  }
}

.create_group{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.create_group > h2 {
  font-family: poppins;
}

.create_group > .form-group {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 5px;
}

.create_group > .form-group > input {
  width: 100%;
  outline:none;
  border:none;
  padding:10px;
  background-color: rgb(214, 214, 214);
}

.create_group > .form-group > label{
  font-size: .9rem;
}

.create_group > .button_container {
  width:100%;
  display: flex;
  gap:5px;
}

.create_group > .button_container > button{
  padding:10px;
  margin-top: 5px;
  background: var(--primary);
  color: white;
  text-transform: uppercase;
  border: 1px solid var(--primary);
  font-family: Poppins;
  cursor: pointer;
  flex: 1;
}

.create_group > .button_container > button:hover{
  background-color: var(--primary-hover);
  border-color: var(--primary-hover);
}

.create_group > .button_container > .cancel_button{
  background-color: rgb(66, 66, 66);
  border: 1px solid rgb(66, 66, 66);
}
.create_group > .button_container > .cancel_button:hover{
  background-color: rgb(46, 46, 46);
  border: 1px solid rgb(46, 46, 46);
}

dialog{
  border: 1px solid rgba(255, 255, 255, 0.4);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  background-color: rgba(255, 255, 255, 0.5);
  width: 300px;
  border-radius: 5px;
}

dialog::backdrop{
  background-color: rgba(0, 0, 0, 0.8);
}

.groups-container > a {
  color: inherit;
  text-decoration: none;
}

.groups-container > a:active > .group {
  box-shadow: 0 0 0 var(--primary);
  transform: translate(0, 0);
}


.group_details{
  position: relative;
}

.group_details > section {
  /* background: green; */
  display: flex;
  flex-shrink: 0;
  gap: 10px;
}

.group_details > h1 {
  font-family: var(--germanic-font);
  text-align: center;
  word-wrap: break-word;
}

.group_details > section > .group_info{
  /* background: red; */
  background: rgba(170, 170, 170, 0.5);
  border: 1px solid gray;
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap:10px;
  flex: 1;
  min-width: 300px;
  border-radius: 5px;
  height: 0%;
}

.group_details > section > .group_info > .members > span {
  display: block;
  padding: 0 10px;
}

.group_details > section > .transactions_info {
  flex: 3;
}

.group_details > section > .group_info > .delete_group {
  padding: 7px;
  border: 1px solid var(--secondary);
  outline: none;
  background: var(--secondary);
  color: rgb(199, 198, 198);
  cursor: pointer;
  transition: 250ms all;
  font-weight: 500;
  font-family: poppins;
}
.group_details > section > .group_info > .delete_group:hover {
  background: var(--primary-hover);
  border-color: var(--primary-hover);
}


.group_details > .info {
  position: absolute;
  top:8px;
  left: 10px;
  background: none;
  border:none;
  outline: none;
  color: black;
  font-size: 1.2rem;
  cursor: pointer;
  display: none;
}
.transactions_info > ul {
  margin:0;
  margin-top: 40px;
  list-style: none;
  display:flex;
  flex-direction: column;
  border:1px solid gray;
  border-bottom-width: 0;
  padding:0;
}

.transactions_info > ul > li:nth-child(even){
  background: #aaa;
}

.transactions_info > ul > li:nth-child(odd){
  background: #bbb;
}


.transactions_info > ul > li:hover{
  background-color: #ddd;
  padding-inline: 20px;
}

.transactions_info > ul > li:hover > span{
  color: var(--primary)
}

.transactions_info > ul > li {
  /* border: .5px solid gray; */
  display: flex;
  justify-content: space-between;
  padding: 10px;
  border-bottom: 1px solid gray;
  transition: all 250ms;
  cursor: pointer;
}

.transaction_details {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.transaction_details > p {
  margin: 0;
  padding: 5px;
  border-bottom: 1px solid gray;
  font-family: roboto mono;
  font-size: .9rem;
}

.transaction_details > p > b{
  font-family: sans-serif;
}
.transaction_details > .button_container {
  display: flex;
  width: 100%;
  gap: 5px;
}

.transaction_details > .button_container > button {
  padding: 10px;
  border:none;
  outline: none;
  text-transform: uppercase;
  width: max-content;
  width: 100%;
}

.transaction_details > .button_container > button.delete {
  background-color: var(--primary);
  color: white;
  cursor: pointer;
  border: 1px solid var(--primary);
  font-family: poppins;
}

.transaction_details > .button_container > button.cancel {
  background-color: rgb(66, 66, 66);
  border:1px solid rgb(66,66,66);
  color: white;
  cursor: pointer;
  font-family: poppins;
}

.transaction_details > .button_container > button.cancel:hover {
  background-color: rgb(46, 46, 46);
  border-color: rgb(46,46,46);
}

.transaction_details > .button_container > button.delete:hover {
  background-color: var(--primary-hover);
  border-color: var(--primary-hover);
}

.add_user_form {
  display: flex;
  position: relative;
  height: 40px;
}

.add_user_form > input {
  transition: 250ms all;
  border-right: none;
  padding: 10px;
  outline: none;
  border: 1px solid #1c252662;
  background-color: #1c2526ad;
  border-right: none;
  flex: 10;
  color: white;
}


.add_user_form > button {
  padding: 5px;
  outline: none;
  border: 1px solid #1c252662;
  border-left: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  aspect-ratio: 1;
  flex: 1;
  background: #1c2526ad;
  color: rgba(255, 255, 255, 0.432);
}

.add_user_form > button:hover {
  color: white;
}

span.members > span {
  display: flex;
  align-items: center;
}

.kick {
  background-color: transparent;
  cursor: pointer;
  border:none;
  outline: none;
  color: var(--primary);
  font-size: 1.1rem;
}

.kick > svg {
  display: flex;
  align-items: center;
}

.not_found {
  font-family: sans-serif;
  grid-column: 1/-1;
  margin: 2rem auto;
  color:rgb(46, 46, 46)
}

.not_found.center {
  text-align: center;
}

/* Mobile responsiveness */

@media(max-width: 500px) {
  .form-container::after {
    background-position: center;
  }
}

@media (max-width: 1200px) {
  .groups-container{
   grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 800px) {
  .groups-container{
    grid-template-columns: 1fr;
  }
}

@media (max-width: 1000px) {
  .group_details > section {
    flex-direction: column;
  }
  .group_details > section > .group_info[data-show='false'] {
    display: none;
  }
  .group_details > section > .group_info[data-show='true'] {
    display: flex;
    flex: auto;
    margin: 5px 0;
  }

  .group_details > .info {
    display: block;
  }
}